.gitRepository
.gitcommit
src/docs/asciidoc/img/
libs
libs_orig
_*.sh
*.zip
*.jar
_resyncRepository.jz.cmd
src/main/java
.gradle
build
gradle
deploy
html5
*.html
*.rpw
*.xmi
types-xmi.xml
*.log
*.ehl

