<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/vishiaJavaL/srcJava_vishiaGUI/org/vishia/gitGui/GitGui.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.vishia.gitGui.GitGui"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:/vishia/Java_cmpn/vishiaGui/src/main/java/.gitRepository"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="vishiaJavaL"/>
</launchConfiguration>
