<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TRA_AAXDD/TraceEvaluation/siemens/tsTkTra/inspector/Inspector.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="siemens.tsTkTra.inspector.Inspector"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="targetIp:192.168.15.101:60078 name:Hynet-CCS"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TRA_AAXDD"/>
</launchConfiguration>
