<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/vishiaJavaR/srcJava_vishiaGUI/org/vishia/guiInspc/InspcCurveViewApp.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.vishia.guiInspc.InspcCurveViewApp"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="D:/vishia/Inspc/InspcGui"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="vishiaJavaR"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:/vishia/Inspc/InspcGui"/>
</launchConfiguration>
