<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/vishiaJavaR/srcJava_vishiaGUI/org/vishia/guiInspc/InspcGui.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.vishia.guiInspc.InspcGui"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="---@D:\vishia\smlk\Smlk_ObjO_Inspc/test/+ObjOModule_ExmplCtrl/inspc/cfg/inspc.args&#13;&#10;--@D:/safe/IBS/XRPT/inspc_DEZ/cfg/inspcCCS_DEZ.args"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="vishiaJavaR"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="D:/safe/IBS/XRPT/inspc_DEZ/"/>
</launchConfiguration>
